<div class="mt-4">
  <h3>Khoá học của tôi</h3>
  <div class="list-course">
    <table class="table mt-4">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên khoá học</th>
          <th scope="col">Trình độ</th>
          <th scope="col">Thời gian tạo</th>
          <th scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.level}}</td>
            <td>{{this.createdAt}}</td>
            <td>
              <a
                href="/courses/{{this._id}}/edit"
                type="button"
                class="btn btn-link"
              >Sửa</a>
              <a href="" type="button" class="btn btn-link">Xoá</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
</div>