<div class="mt-4">
  <h3>Khoá học của tôi</h3>
  <div class="trash-div">
    <a href="/me/trashed/courses">Thùng rác ({{ deletedCount }})</a>
  </div>
  <div class="list-course">
    <table class="table mt-4">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên khoá học</th>
          <th scope="col">Trình độ</th>
          <th scope="col">Thời gian tạo</th>
          <th scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" type="button" class="btn btn-link">Sửa</a>
            <a href="" type="button" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
              data-target="#confirm-delete-modal">Xoá bỏ</a>
          </td>
        </tr>

        {{else}}
        <tr>
          <td colspan="5" class="text-center">Bạn chưa đăng khoá học nào. Đăng khoá học <a href="/courses/create">tại đây!</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
</div>

{{! Model confirm delete course }}
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm-delete">Xác nhận xoá</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xoá khoá học này?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form id="delete-course-form" method="POST" >

</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {

    var courseId = ''; 
    var deleteForm = document.getElementById("delete-course-form");
    var btnDeleteCourse = document.getElementById("btn-delete-course");

    // When dialog confirm clicked
    $('#confirm-delete-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      courseId = button.data('id')
    }) 


    btnDeleteCourse.onclick = () =>{
      deleteForm.action = "/courses/" + courseId + "?_method=DELETE";
      deleteForm.submit();
    }

  })
</script>