<div class="mt-4">
  <h3>Khoá học đã xoá</h3>
  <div class="trash-div">
    <a href="/me/stored/courses">Danh sách khoá học</a>
  </div>
  <div class="list-course">
    <table class="table mt-4">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên khoá học</th>
          <th scope="col">Trình độ</th>
          <th scope="col">Thời gian tạo</th>
          <th scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
            <a href="" class="btn btn-link btn-delete-force" data-toggle="modal" data-id="{{this._id}}"
              data-target="#confirm-delete-modal">Xoá vĩnh viễn</a>
          </td>
        </tr>

        {{else}}
        <tr>
          <td colspan="5" class="text-center">Thùng rác trống. Quay về trở về danh sách khoá học <a href="/me/stored/courses">tại đây!</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
</div>

{{! Model confirm delete course }}
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm-delete">Xác nhận xoá</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xoá vĩnh viễn khoá học này?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<form id="delete-course-form" method="POST" ></form>
<form id="restore-course-form" method="POST" ></form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    var courseId = ''; 
    var deleteForm = document.getElementById("delete-course-form");
    var restoreForm = document.getElementById("restore-course-form");
    var btnDeleteCourse = document.getElementById("btn-delete-course");
    var btnRestore = $(".btn-restore")
    
    // When dialog confirm clicked
    $('#confirm-delete-modal').on('show.bs.modal', function (e) {
      var button = $(e.relatedTarget);
      courseId = button.data('id')
    }) 

    btnDeleteCourse.onclick = () =>{
      deleteForm.action = "/courses/" + courseId + "/force-delete?_method=DELETE";
      deleteForm.submit();
    }

    // Restore button clicked 
    btnRestore.click(function(e) {
      e.preventDefault();
      var courseId = $(this).data("id");
      restoreForm.action = "/courses/" + courseId + "/restore?_method=PATCH";
      restoreForm.submit();
    })
  })
</script>