<form class="mt-4" name="form-my-courses" method="POST" action="/courses/handle-form-action">
  <h3>Khoá học đã xoá</h3>
  <div class="courses-div">
    <a href="/me/stored/courses">Danh sách khoá học ({{ cntCourses }})</a>

    <div class="mt-2 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>

    <div class="select-action">
       <select name="action" class="custom-select form-control-sm checkbox-select-all-options" required>
        <option value="" selected>-- Chọn hành động --</option>
        <option value="restore">Khôi phục</option>
        <option value="force-delete">Xoá vĩnh viễn</option>
      </select>
    </div>

    <button id="btn-action" class="btn btn-primary btn-sm disabled">Thực hiện</button>
  </div>
  <div class="list-course">
    <table class="table mt-4">
      <thead class="thead-light">
        <tr>
          <th scope="col" colspan="2">#</th>
          <th scope="col">Tên khoá học</th>
          <th scope="col">Trình độ</th>
          <th scope="col">Thời gian xoá</th>
          <th scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="{{this._id}}" name="courseIds[]">
            </div>
          </td>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
            <a href="" class="btn btn-link btn-delete-force" data-toggle="modal" data-id="{{this._id}}"
              data-target="#confirm-delete-modal">Xoá vĩnh viễn</a>
          </td>
        </tr>

        {{else}}
        <tr>
          <td colspan="5" class="text-center">Thùng rác trống. Quay về trở về danh sách khoá học <a href="/me/stored/courses">tại đây!</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
</div>

{{! Model confirm delete course }}
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm-delete">Xác nhận xoá</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xoá vĩnh viễn khoá học này?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<form id="delete-course-form" method="POST" ></form>
<form id="restore-course-form" method="POST" ></form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    var courseId = ''; 
    var deleteForm = document.getElementById("delete-course-form");
    var restoreForm = document.getElementById("restore-course-form");
    var btnDeleteCourse = document.getElementById("btn-delete-course");
    var btnRestore = $(".btn-restore")
    var checkboxAll = $("#checkbox-all");
    var checkboxCourseItem = $('input[name="courseIds[]"]');
    var btnAction = $("#btn-action");

    
    // When dialog confirm clicked
    $('#confirm-delete-modal').on('show.bs.modal', function (e) {
      var button = $(e.relatedTarget);
      courseId = button.data('id')
    }) 

    btnDeleteCourse.onclick = () =>{
      deleteForm.action = "/courses/" + courseId + "/force-delete?_method=DELETE";
      deleteForm.submit();
    }

    // Restore button clicked 
    btnRestore.click(function(e) {
      e.preventDefault();
      var courseId = $(this).data("id");
      restoreForm.action = "/courses/" + courseId + "/restore?_method=PATCH";
      restoreForm.submit();
    })

    // Checkbox all clicked
    checkboxAll.change(function() {
      var isCheckedAll = $(this).prop("checked");
      checkboxCourseItem.prop("checked", isCheckedAll);
      renderCheckSubmitBtn();
    })

    // Checkbox course item change
    checkboxCourseItem.change(function() {
      let isCheckedAll = checkboxCourseItem.length === $('input[name="courseIds[]"]:checked').length;
      checkboxAll.prop("checked", isCheckedAll);
      renderCheckSubmitBtn();
    })

    // Button action
    btnAction.click(function(e) {
      var isDisabled = $(this).hasClass("disabled");
      if(isDisabled)
        e.preventDefault();
    })

    // Rerendering check all submit button
    function renderCheckSubmitBtn() {
      let cntBoxChecked = $('input[name="courseIds[]"]:checked').length;
        if(cntBoxChecked > 0) {
          btnAction.removeClass("disabled");
        } else {
          btnAction.addClass("disabled");
        }
    }

  })
</script>